*
*/

# not ignore git submodules
!.gitmodules
!inspecode-tasks

# not ignore go and cue files
!cmd/
!cue/
!cuego/
!encoding/
!internal/
!pkg/
!tools/

# not ignore go module files
!go.mod
!go.sum

# local additions to check by inspecode linters
!rocro*
!*Dockerfile*
!*.go
